{% extends 'bare_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-7 col-lg-5">
            <h2>{% trans 'Create an account' %}</h2>
            <p class="lead">{% trans 'Get started now, for 100% free.' %}</p>
            <a class="btn block btn--icon bg--googleplus type--uppercase" href="{% url 'users:social_login' %}">
                <span class="btn__text">
                    <i class="socicon-google"></i> {% trans 'Sign up with Google' %}
                </span>
            </a>
            <hr>
            <div class="feature__body text-left">
                <form method="post" action="{{ form_url }}">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
