{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-4" style="min-height: 362.656px;">
            <div class="boxed boxed--lg boxed--border" data-scroll-class="180px:pos-fixed" style="max-width: 380px;">
                <div class="text-block text-center">
                    {% if user.data.avatar_url %}
                        <img alt="avatar" src="{{ user.data.avatar_url }}" class="image--md">
                    {% else %}
                        <img alt="avatar" src="{% static 'img/avatar-placeholder.png' %}" class="image--md">
                    {% endif %}

                    <span class="h5">{{ user.name }}</span>
                </div>
                <hr>
                <div class="text-block clearfix text-center">
                    <ul class="row row--list">
                        <li class="col-md-12">
                            <span class="type--fine-print block">{% trans 'Member Since' %}:</span>
                            <span>{{ user.date_joined|date }}</span>
                        </li>
                        <li class="col-md-12">
                            <span class="type--fine-print block">Contact:</span>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="masonry masonry-blog-list">
                <div class="masonry__container masonry--active" style="position: relative;">
                    {% for article in user_articles %}
                        <article class="masonry__item boxed boxed--border w-100" style="position: absolute; left: 0px; top: 0px;">
                            <div class="article__title text-center">
                                <a href="{{ article.get_absolute_url }}">
                                    <h2>{{ article.title }}</h2>
                                </a>
                                {% if request.user.id == user.id %}
                                    <div class="article__settings">
                                        <a title="{% trans 'Edit' %}" href="{% url 'articles:change' slug=article.slug %}"><i class="ft-edit"></i></a>
                                    </div>
                                {% endif %}
                                <span>{{ article.created_on|date }} in </span>
                                <span>
                                <a href="#">{{ article.category }}</a>
                            </span>
                            </div>
                            <!--end article title-->
                            <div class="article__body">
                                <p>{{ article.desc }}</p>
                                <a href="{{ article.get_absolute_url }}">Continue reading »</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
